.checkboxContainer {
  display: inline;
  padding: 5px 5px 5px 0;
  user-select: none;
}

.checkboxContainer,
.checkboxContainer > * {
  cursor: pointer;
  margin-left: 0;
}

.checkboxContainer label {
  margin-left: 0.5rem;
  text-overflow: ellipsis;
}
