.checkboxContainer {
  display: flex;
  align-items: flex-start;
  /* padding: 5px 5px 5px 0; */
  user-select: none;
}

.checkboxContainer,
.checkboxContainer > * {
  cursor: pointer;
  margin-left: 0;
}

.checkboxContainer input {
  zoom: 1.2;
}

.checkboxContainer label {
  margin-left: 0.2rem;
  text-overflow: ellipsis;
}
