:root {
  --ifm-color-primary: #0366d6;
  --ifm-color-primary-dark: #035cc1;
  --ifm-color-primary-darker: #0357b6;
  --ifm-color-primary-darkest: #024796;
  --ifm-color-primary-light: #0370eb;
  --ifm-color-primary-lighter: #0375f6;
  --ifm-color-primary-lightest: #1e86fc;

  --ifm-code-font-size: 95%;
  --ifm-color-content: #525f7f;
  --ifm-heading-color: #2d294f;

  --ifm-font-family-base: "IRANSansX", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --ifm-heading-font-family: "IRANSansX", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  /* darkest grey - used for headings */
  --ifm-color-grey-1: hsl(209, 61%, 16%);
  --ifm-color-grey-2: hsl(209, 61%, 8%);
  --ifm-color-grey-3: hsl(209, 34%, 30%);
  --ifm-color-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --ifm-color-grey-5: hsl(210, 22%, 49%);
  --ifm-color-grey-7: hsl(209, 30%, 30%);
  --ifm-color-grey-8: hsl(210, 31%, 80%);
  --ifm-color-grey-9: hsl(212, 33%, 89%);
  --ifm-color-grey-10: hsl(210, 36%, 96%);
  --ifm-green-dark: hsl(125, 67%, 35%);
  --ifm-red-dark: hsl(360, 67%, 44%);
  --ifm-red-light: rgb(241, 73, 73);
  --ifm-white: #fff;
  --ifm-black: #000;
  --radius: calc(var(--ifm-global-radius) / 2);

  --transition: all 0.3s linear;

  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --medium-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  --dark-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);

  --gray-900: #1a202c;
  --gray-800: #2d3748;
  --gray-700: #4a5568;
  --gray-600: #718096;
  --gray-500: #a0aec0;
  --gray-400: #cbd5e0;
  --gray-300: #e2e8f0;
  --gray-200: #edf2f7;
  --gray-100: #f7fafc;
  --red-100: #fff5f5;
  --red-200: #fed7d7;
  --red-300: #feb2b2;
  --red-400: #fc8181;
  --red-500: #f56565;
  --red-600: #e53e3e;
  --red-700: #c53030;
  --red-800: #9b2c2c;
  --red-900: #742a2a;
  --blue-100: #ebf8ff;
  --blue-200: #bee3f8;
  --blue-300: #90cdf4;
  --blue-400: #63b3ed;
  --blue-500: #4299e1;
  --blue-600: #3182ce;
  --blue-700: #2b6cb0;
  --blue-800: #2c5282;
  --blue-900: #2a4365;
  --white: white;
  --red: #f56565;
  --text-decoration-color: var(--gray-400);
  --text-color: var(--gray-800);
  --focus-ring-color: var(--blue-500);

  --ifm-card-color: var(--white);
}

button {
  font-family: "IRANSansX", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer {
  background: var(--ifm-navbar-background-color);
  color: #a4a4a4;
  font-family: "IRANSansX";
  font-size: 0.8rem;
  padding: calc(var(--ifm-footer-padding-vertical) * 1 / 2)
    var(--ifm-footer-padding-horizontal);
  border-top: 1px solid var(--ifm-toc-border-color);
}

img {
  border-radius: calc(var(--ifm-global-radius) / 2);
}

.pagination-nav__link--prev .pagination-nav__label::before,
.pagination-nav__link--next .pagination-nav__label::after {
  font-family: "Courier New", Courier, monospace;
}

/* Breadcrumb */

.breadcrumbs__item:not(:last-child):lang(fa):after {
  transform: rotate(180deg);
}

/* Sidebar */

/* [class^="button button--secondary button--outline collapseSidebarButton_node_modules-@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-CollapseButton-styles-module"] {
  border-bottom: unset !important;
}  */

/* Navbar */

.dropdown > .navbar__link:after {
  border-radius: var(--ifm-global-radius);
}

/* CodeBlock */

[class^="codeBlockTitle"] {
  /*rtl:ignore*/
  direction: ltr;
}

[class^="buttonGroup"] {
  /*rtl:begin:ignore*/
  left: unset !important;
  right: calc(var(--ifm-pre-padding) / 2) !important;
  /*rtl:end:ignore*/
}

.tabs {
  /*rtl:begin:ignore*/
  /* direction: ltr;
  padding-left: 0;
  padding-right: unset; */
  /*rtl:end:ignore*/
}

/* Markdown */

.markdown h1:first-child {
  --ifm-h1-font-size: 2.4rem;
}

/* Blog */

[class^="blogPostTitle"] {
  font-size: 2.4rem !important;
}

[class^="blogPostTitle"] a:hover,
[class^="col text--right col--3"] a:hover,
.avatar__name a:hover {
  text-decoration: none !important;
  color: var(--ifm-dropdown-link-color);
}

/* Admonition */

[class^="admonition-content"] a {
  text-decoration: none;
}

[class^="admonition-content"] a :hover {
  text-decoration: var(--ifm-link-decoration);
}

@media screen and (max-width: 768px) {
  .footer {
    font-size: 0.6rem;
    padding: calc(var(--ifm-footer-padding-vertical) * 1 / 3)
      var(--ifm-footer-padding-horizontal);
  }
}

@media screen and (max-width: 576px) {
  /* Blog */
  [class^="blogPostTitle"] {
    font-size: 2rem !important;
  }
}

/* Fonts */

/* Yekan Web*/
@font-face {
  font-family: "yekan";
  font-style: normal;
  src: url("/fonts/yekan/yekan.eot"),
    /* IE9 Compat Modes */ url("/fonts/yekan/yekan.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */ url("/fonts/yekan/yekan.woff") format("woff"),
    /* Modern Browsers */ url("/fonts/yekan/yekan.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

/* IRANSansX Web*/
@font-face {
  font-family: "IRANSansX";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/IRANSansX/woff/IRANSansX-Regular.woff") format("woff"),
    url("/fonts/IRANSansX/woff2/IRANSansX-Regular.woff2") format("woff2");
  /* unicode-range: U+0600-06FF; */
}
